@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;600&display=swap');

/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

.buttons{
  display: flex;
}

button{
  display: block;
  margin: 20px auto;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 17px;
  color: white;
  background-color: black;
  text-align: center;
}

.card{
  display: none;
  flex-direction: column;
  gap: 24px;

  font-family: 'Roboto Slab', serif;
  font-size: calc(16px + 19 * (100vw / 1024));
  line-height: 120%;

  max-width: 80%;
  margin: 20px auto;
  padding: 30px 20px;

  border-radius: 20px;
  background-color: #F1EFE9;
  box-shadow: 5.57143px 10.0286px 25.6286px rgba(0, 0, 0, 0.25);
}

@media(max-width: 767px) {
  .card {
    font-size: calc(16px + (19 + 19 * 0.7) * ((100vw - 320px) / 1024));
  }
}

@media(min-width: 560px){
  .card{
    padding: 45px 35px;
  }
}

.card_active{
  display: flex;
}

h1{
  font-weight: bold;
}

.card_head{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close_icon {
  width: 16px;
  height: 16px;
}

.card_text p{
  margin-bottom: 7%;
}

.card_text p:last-child{
  margin-bottom: 0;
}

.card_text p span{
  font-weight: bold;
}

.close_icon img{
  width: 16px;
  height: 16px;
}

.card_img{
  margin-top: 10%;
  text-align: center;
}

.card_img img{
  width: 70%;
}

.round_img img{
  border-radius: 50%;
}

/* Ненужная обертка */
.unnecessary_cover{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

